/* Add this CSS to your stylesheet */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Hide spinners in Firefox */
}

.blurred-row {
  filter: blur(2px);
  pointer-events: none;
  cursor: none;
  opacity: 0.6;
}